.bg-custom {
    background-color: #21293A;
}

/* Para eliminar bordes */

.list-group-item {
    background: transparent;
    border: none;
    color: #aeb5c5;
    margin-bottom: 4px;
    border-radius: 6px;
    cursor: pointer;
}

/* Para el hover de la lista */
/* Transición suave para todos los elementos */
.sidebar-item {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

/* Efecto Hover solo en los elementos inactivos */
.sidebar-item:not(.bg-primary):hover {
    color: #ffffff !important;           /* Texto blanco brillante */
    background-color: rgba(255, 255, 255, 0.05) !important; /* Fondo sutil */
    border-radius: 0.375rem;             /* Esquinas redondeadas al pasar el ratón */
    transform: translateX(4px);          /* Pequeño desplazamiento a la derecha */
}

/* Transición suave en el clic */
.sidebar-item:active {
    transform: scale(0.98);
}