<div class="w-100 h-100 bg-custom d-flex flex-column p-4">
   
    <div class="border-bottom border-secondary pb-2">
        <h5 class="text-white fw-bold mb-1">Arelance HelpDesk</h5>
        <p class="text-secondary small mb-2">Soporte Técnico</p>
    </div>

    <!-- List group elimina los bordes -->
     <!-- RouterLinkActive marca en la opcion que nos encontremos en el sidebar -->
    <ul class="list-group text-white list-group-flush mt-3 gap-1">
        <li routerLink="/admin/panel" routerLinkActive="bg-primary text-white" [routerLinkActiveOptions]="{exact: true}" class="list-group-item sidebar-item bg-primary text-white border-0 rounded-3 px-3 py-2" style="cursor: pointer;">● &nbsp; Panel</li>
        <li routerLink="/admin/listado" routerLinkActive="bg-primary text-white" [routerLinkActiveOptions]="{exact: true}" class="list-group-item sidebar-item bg-primary text-white border-0 rounded-3 px-3 py-2" style="cursor: pointer;">● &nbsp; Tickets</li>
        <li class="list-group-item sidebar-item bg-transparent text-secondary border-0 px-3 py-2">● &nbsp; Clientes</li>
        <li class="list-group-item sidebar-item bg-transparent text-secondary border-0 px-3 py-2">● &nbsp; Técnicos</li>
        <li class="list-group-item sidebar-item bg-transparent text-secondary border-0 px-3 py-2">● &nbsp; Usuarios</li>
        <li class="list-group-item sidebar-item bg-transparent text-secondary border-0 px-3 py-2">● &nbsp; SLA</li>
        <li class="list-group-item sidebar-item bg-transparent text-secondary border-0 px-3 py-2">● &nbsp; Informes</li>
    </ul>

    <!-- Usuario abajo -->
    <div class="mt-auto border-top pt-3">
        <div class="d-flex align-items-center gap-2">
            <div class="avatar">A</div>

            <div>
                <div class="text-white fw-bold small">Admin</div>
                <div class="text-secondary small">Administrador</div>
            </div>
        </div>
    </div>

</div>
