<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">
          Añadir Tecnico
        </h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar">
        </button>
      </div>

      <div class="modal-body">
        Aquí va el contenido de mi modal.

        <div class="mb-3">
          <label class="form-label" for="curso">Curso</label>
          <select id="curso" class="form-select" name="tecnicoSelect" [(ngModel)]="tecnico">
            @for (t of tecnicos; track t.idTecnico) {
            <option [ngValue]="t">{{ t.nombre }} {{ t.apellido }} - {{ t.especialidad }}</option>
            }
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="this.pasarMarcaTiempo()">
            Guardar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>

      </div>

    </div>
  </div>